.encryptOrDecrypt__container {
  padding: 16px;
  margin: 32px 0;
}

.encryptOrDecrypt__form {
  margin: 16px 0;
}

.encryptOrDecrypt__formControl {
  margin: 8px;
}

.encryptOrDecrypt__button {
  margin: 0 auto;
}
